---
name: Test
"on":
  push:
    tags:
      - v*
    branches:
      - main
  pull_request: null
jobs:
  test:
    name: Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - "1.18"
          - "1.19"
          - "1.20"
          - "1.21"
          - "1.22"
          - "1.23"
    steps:
      - uses: actions/setup-go@v5.3.0
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v4.2.2
      - uses: golangci/golangci-lint-action@v6.3.0
        with:
          version: v1.63.4
      - run: make test
