---
name: Test
"on":
  push:
    tags:
      - v*
    branches:
      - main
  pull_request: null
jobs:
  test:
    name: Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "1.24"
          - "1.25"
    steps:
      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Test
        run: make test
      - name: Read golangci-lint version from file
        id: golangci-lint-version
        run: echo "version=$(cat .golangci-version)" >> $GITHUB_OUTPUT
      - name: Lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: ${{ steps.golangci-lint-version.outputs.version }}
